# ==========================================================
# Transformers from First Principles
# ==========================================================

# ==========================================================
## Core Dependencies
# ==========================================================

numpy>=2.0.0

# ==========================================================
## Development & Testing
# ==========================================================

pytest>=8.0.0

# ==========================================================
## Documentation
# ==========================================================

jupyter>=1.1.0
notebook>=7.0.0
matplotlib>=3.9.0